*.swp
.DS_Store
._.DS_Store
.htpasswd
.sass-cache
*.sublime-project
*.sublime-workspace
app/webroot/css/*.css
app/webroot/css/*.map
x
xx*
x.*
TAGS
.idea
config.rb
favicon.ico
wp-content/uploads/*
img/*
pdf/*
movie/*
wp-content/ewww