$main-color:#9f2b33;
$main-color-light:lighten($main-color, 30%);
$main-color-dark:darken($main-color, 22%);
$sub-color:#1B655D;
$accent-color:#779929;
$gray-dark:#bbbaaf;
$gray-light:lighten($gray-dark,20%);
$bg-gray:#eef1f5;
$link-color:$main-color;
$yellow:#ffe300;
$red:#cb0000;
$black:#000;
$green:green;
$blue-gray:#b5bcc6;
$border-color:#d7dae0;
$text-color:#333;