@-webkit-keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 268.0392150878906px;
		stroke-dasharray: 268.0392150878906px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 268.0392150878906px;
	}
}

@keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 268.0392150878906px;
		stroke-dasharray: 268.0392150878906px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 268.0392150878906px;
	}
}

.svg-elem-1 {
	-webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
	animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
	animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
	animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
	0% {
		stroke-dashoffset: 361.041015625px;
		stroke-dasharray: 361.041015625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.041015625px;
	}
}

@keyframes animate-svg-stroke-2 {
	0% {
		stroke-dashoffset: 361.041015625px;
		stroke-dasharray: 361.041015625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.041015625px;
	}
}

.svg-elem-2 {
	-webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
	animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
	animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
	animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
	0% {
		stroke-dashoffset: 267.89801025390625px;
		stroke-dasharray: 267.89801025390625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 267.89801025390625px;
	}
}

@keyframes animate-svg-stroke-3 {
	0% {
		stroke-dashoffset: 267.89801025390625px;
		stroke-dasharray: 267.89801025390625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 267.89801025390625px;
	}
}

.svg-elem-3 {
	-webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
	animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
	animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
	animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
	0% {
		stroke-dashoffset: 361.04071044921875px;
		stroke-dasharray: 361.04071044921875px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.04071044921875px;
	}
}

@keyframes animate-svg-stroke-4 {
	0% {
		stroke-dashoffset: 361.04071044921875px;
		stroke-dasharray: 361.04071044921875px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.04071044921875px;
	}
}

.svg-elem-4 {
	-webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
	animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
	animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
	animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
	0% {
		stroke-dashoffset: 268.0392150878906px;
		stroke-dasharray: 268.0392150878906px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 268.0392150878906px;
	}
}

@keyframes animate-svg-stroke-5 {
	0% {
		stroke-dashoffset: 268.0392150878906px;
		stroke-dasharray: 268.0392150878906px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 268.0392150878906px;
	}
}

@-webkit-keyframes animate-svg-fill-5 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(228, 133, 142);
	}
}

@keyframes animate-svg-fill-5 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(228, 133, 142);
	}
}

.svg-elem-5 {
	-webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
	animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
	animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
	animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
	0% {
		stroke-dashoffset: 361.041015625px;
		stroke-dasharray: 361.041015625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.041015625px;
	}
}

@keyframes animate-svg-stroke-6 {
	0% {
		stroke-dashoffset: 361.041015625px;
		stroke-dasharray: 361.041015625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.041015625px;
	}
}

@-webkit-keyframes animate-svg-fill-6 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(199, 0, 11);
	}
}

@keyframes animate-svg-fill-6 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(199, 0, 11);
	}
}

.svg-elem-6 {
	-webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
	animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
	animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
	animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
	0% {
		stroke-dashoffset: 267.89801025390625px;
		stroke-dasharray: 267.89801025390625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 267.89801025390625px;
	}
}

@keyframes animate-svg-stroke-7 {
	0% {
		stroke-dashoffset: 267.89801025390625px;
		stroke-dasharray: 267.89801025390625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 267.89801025390625px;
	}
}

@-webkit-keyframes animate-svg-fill-7 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(165, 165, 165);
	}
}

@keyframes animate-svg-fill-7 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(165, 165, 165);
	}
}

.svg-elem-7 {
	-webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
	animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
	animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
	animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
	0% {
		stroke-dashoffset: 361.04071044921875px;
		stroke-dasharray: 361.04071044921875px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.04071044921875px;
	}
}

@keyframes animate-svg-stroke-8 {
	0% {
		stroke-dashoffset: 361.04071044921875px;
		stroke-dasharray: 361.04071044921875px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 361.04071044921875px;
	}
}

@-webkit-keyframes animate-svg-fill-8 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

@keyframes animate-svg-fill-8 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

.svg-elem-8 {
	-webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
	animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
	animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
	animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
	0% {
		stroke-dashoffset: 206.6772003173828px;
		stroke-dasharray: 206.6772003173828px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 206.6772003173828px;
	}
}

@keyframes animate-svg-stroke-9 {
	0% {
		stroke-dashoffset: 206.6772003173828px;
		stroke-dasharray: 206.6772003173828px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 206.6772003173828px;
	}
}

.svg-elem-9 {
	-webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
	animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
	animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
	animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
	0% {
		stroke-dashoffset: 250.19998168945312px;
		stroke-dasharray: 250.19998168945312px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 250.19998168945312px;
	}
}

@keyframes animate-svg-stroke-10 {
	0% {
		stroke-dashoffset: 250.19998168945312px;
		stroke-dasharray: 250.19998168945312px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 250.19998168945312px;
	}
}

.svg-elem-10 {
	-webkit-animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
	animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
	animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
	animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
	0% {
		stroke-dashoffset: 218.22921752929688px;
		stroke-dasharray: 218.22921752929688px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 218.22921752929688px;
	}
}

@keyframes animate-svg-stroke-11 {
	0% {
		stroke-dashoffset: 218.22921752929688px;
		stroke-dasharray: 218.22921752929688px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 218.22921752929688px;
	}
}

.svg-elem-11 {
	-webkit-animation: animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
	animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
	animation: animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
	animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
	0% {
		stroke-dashoffset: 310.4385681152344px;
		stroke-dasharray: 310.4385681152344px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 310.4385681152344px;
	}
}

@keyframes animate-svg-stroke-12 {
	0% {
		stroke-dashoffset: 310.4385681152344px;
		stroke-dasharray: 310.4385681152344px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 310.4385681152344px;
	}
}

.svg-elem-12 {
	-webkit-animation: animate-svg-stroke-12 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both,
	animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
	animation: animate-svg-stroke-12 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both,
	animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
}

@-webkit-keyframes animate-svg-stroke-13 {
	0% {
		stroke-dashoffset: 271.9239501953125px;
		stroke-dasharray: 271.9239501953125px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 271.9239501953125px;
	}
}

@keyframes animate-svg-stroke-13 {
	0% {
		stroke-dashoffset: 271.9239501953125px;
		stroke-dasharray: 271.9239501953125px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 271.9239501953125px;
	}
}

.svg-elem-13 {
	-webkit-animation: animate-svg-stroke-13 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both,
	animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
	animation: animate-svg-stroke-13 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both,
	animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

@-webkit-keyframes animate-svg-stroke-14 {
	0% {
		stroke-dashoffset: 277.03515625px;
		stroke-dasharray: 277.03515625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 277.03515625px;
	}
}

@keyframes animate-svg-stroke-14 {
	0% {
		stroke-dashoffset: 277.03515625px;
		stroke-dasharray: 277.03515625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 277.03515625px;
	}
}

.svg-elem-14 {
	-webkit-animation: animate-svg-stroke-14 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both,
	animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
	animation: animate-svg-stroke-14 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both,
	animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
}

@-webkit-keyframes animate-svg-stroke-15 {
	0% {
		stroke-dashoffset: 206.6772003173828px;
		stroke-dasharray: 206.6772003173828px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 206.6772003173828px;
	}
}

@keyframes animate-svg-stroke-15 {
	0% {
		stroke-dashoffset: 206.6772003173828px;
		stroke-dasharray: 206.6772003173828px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 206.6772003173828px;
	}
}

@-webkit-keyframes animate-svg-fill-15 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

@keyframes animate-svg-fill-15 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

.svg-elem-15 {
	-webkit-animation: animate-svg-stroke-15 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both,
	animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
	animation: animate-svg-stroke-15 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both,
	animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
}

@-webkit-keyframes animate-svg-stroke-16 {
	0% {
		stroke-dashoffset: 250.19998168945312px;
		stroke-dasharray: 250.19998168945312px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 250.19998168945312px;
	}
}

@keyframes animate-svg-stroke-16 {
	0% {
		stroke-dashoffset: 250.19998168945312px;
		stroke-dasharray: 250.19998168945312px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 250.19998168945312px;
	}
}

@-webkit-keyframes animate-svg-fill-16 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

@keyframes animate-svg-fill-16 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

.svg-elem-16 {
	-webkit-animation: animate-svg-stroke-16 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both,
	animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
	animation: animate-svg-stroke-16 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both,
	animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
}

@-webkit-keyframes animate-svg-stroke-17 {
	0% {
		stroke-dashoffset: 218.22921752929688px;
		stroke-dasharray: 218.22921752929688px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 218.22921752929688px;
	}
}

@keyframes animate-svg-stroke-17 {
	0% {
		stroke-dashoffset: 218.22921752929688px;
		stroke-dasharray: 218.22921752929688px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 218.22921752929688px;
	}
}

@-webkit-keyframes animate-svg-fill-17 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

@keyframes animate-svg-fill-17 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

.svg-elem-17 {
	-webkit-animation: animate-svg-stroke-17 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s both,
	animate-svg-fill-17 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s both;
	animation: animate-svg-stroke-17 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s both,
	animate-svg-fill-17 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-stroke-18 {
	0% {
		stroke-dashoffset: 310.4385681152344px;
		stroke-dasharray: 310.4385681152344px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 310.4385681152344px;
	}
}

@keyframes animate-svg-stroke-18 {
	0% {
		stroke-dashoffset: 310.4385681152344px;
		stroke-dasharray: 310.4385681152344px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 310.4385681152344px;
	}
}

@-webkit-keyframes animate-svg-fill-18 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

@keyframes animate-svg-fill-18 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

.svg-elem-18 {
	-webkit-animation: animate-svg-stroke-18 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both,
	animate-svg-fill-18 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
	animation: animate-svg-stroke-18 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both,
	animate-svg-fill-18 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
}

@-webkit-keyframes animate-svg-stroke-19 {
	0% {
		stroke-dashoffset: 271.9239501953125px;
		stroke-dasharray: 271.9239501953125px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 271.9239501953125px;
	}
}

@keyframes animate-svg-stroke-19 {
	0% {
		stroke-dashoffset: 271.9239501953125px;
		stroke-dasharray: 271.9239501953125px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 271.9239501953125px;
	}
}

@-webkit-keyframes animate-svg-fill-19 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

@keyframes animate-svg-fill-19 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

.svg-elem-19 {
	-webkit-animation: animate-svg-stroke-19 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s both,
	animate-svg-fill-19 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
	animation: animate-svg-stroke-19 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s both,
	animate-svg-fill-19 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
}

@-webkit-keyframes animate-svg-stroke-20 {
	0% {
		stroke-dashoffset: 277.03515625px;
		stroke-dasharray: 277.03515625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 277.03515625px;
	}
}

@keyframes animate-svg-stroke-20 {
	0% {
		stroke-dashoffset: 277.03515625px;
		stroke-dasharray: 277.03515625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 277.03515625px;
	}
}

@-webkit-keyframes animate-svg-fill-20 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

@keyframes animate-svg-fill-20 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(0, 0, 0);
	}
}

.svg-elem-20 {
	-webkit-animation: animate-svg-stroke-20 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both,
	animate-svg-fill-20 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
	animation: animate-svg-stroke-20 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both,
	animate-svg-fill-20 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
}
#logo-svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 40%;
}