svg {
	.svg-check-1 {
		stroke-dashoffset: 122.2989730834961px;
		stroke-dasharray: 122.2989730834961px;
		fill: transparent;
		transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
		fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
	}
	&.is-active{
		.svg-check-1 {
			stroke-dashoffset: 0;
			fill: $main-color;
		}
	}
} 

.text-white-shadow{
	text-shadow: 0 -1px 7px rgba(255,255,255,0.3),0 1px 7px rgba(255,255,255,0.3),1px 0px 7px rgba(255,255,255,0.3),-1px 0px 7px rgba(255,255,255,0.3);
}
.text-black-shadow{
	text-shadow: 0 -1px 7px rgba(0,0,0,0.3),0 1px 7px rgba(0,0,0,0.3),1px 0px 7px rgba(0,0,0,0.3),-1px 0px 7px rgba(0,0,0,0.3);
}
// .h1,
// .h2{
// 	line-height:1.4;
// 	font-weight: bold;
// 	display: flex;
// 	align-items: center;
// 	&:after,
// 	&:before{
// 		content: "";
// 		height: 1px;
// 		flex-grow: 1;
// 		background-color: $black;
// 	}
// 	&:before{
// 		margin-right: 1rem;
// 	}
// 	&:after{
// 		margin-left: 1rem;
// 	}
// }
.career-step{
	overflow: hidden;
	position: relative;
	img{
		transform: translateX(-100%);
	}
	&.is-active{
		img{
			animation: slideLR 2s forwards;
		}
	}
}
@keyframes slideLR {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
.header{
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: var(--transition);
	z-index: 3;
	// background: rgba(255,255,255,0.8);
	&.small-header{
		background: rgba(255,255,255,0.95);
		.logo{
			max-width: 150px;
		}
		@media #{$sp} {
			.logo{
				max-width: 40%;
			}
		}
		.g-navi{
			>li{
				a{
					margin-left: 1rem;
				}
			}
		}
	}
}
#logo-animation{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 40%;
}
.logo{max-width: 40%;}
.logo-box-footer{
	max-width: 210px;
	margin-left: auto;
}
.g-navi{
	width: 100%;
	>li{
		&:first-child{
			a{
				margin-left: 0;
			}
		}
		a{
			margin-left: 2rem;
			background: linear-gradient($accent-color 0 0) bottom /var(--d, 0) 2px no-repeat;
			padding-bottom: .5rem;
			@include transition ;
			&:hover {
				--d: 100%;
			}
		}
	}
}
.f-navi{
	li{
		margin-right: 2%;
		display: flex;
		flex-wrap: nowrap;
		padding: 0.5rem 0;
		align-items: center;
		&:last-child{
			margin-right: 0;
		}
		font-family: 'icomoon' !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		&::before{
			content: "\f0da";
			margin-right: 5px;
		}
	}
	@media #{$sp} {
		width: 100%;
		li{
			width: 49%;

			&:nth-child(2n){
				margin-right: 0;
			}
			a{
				display: block;
				width: 100%;
				padding: 1rem;
			}
		}
	}
	// a{
	// 	color: white;
	// 	&:hover{
	// 		color: $accent-color;
	// 	}
	// }
}
// .box-mv{
// 	position: relative;
// 	overflow: hidden;
// 	z-index: 0;
// 	height: 100vh;
// 	border-bottom: 5px solid white;
// 	&:before{
// 		content: '';
// 		background: url(/img/w3000xh2000-mv.svg) 50% 50%;
// 		position: absolute;
// 		top: -5px;
// 		bottom: -5px;
// 		left: -5px;
// 		right: -5px;
// 		background-size: cover;
// 		z-index: -1;
// 		animation: blur-delay 1.5s ease-in 1s forwards;
// 	}
// 	.text-mv{
// 		position: absolute;
// 		left: 50%;
// 		top: 50%;
// 		opacity: 0;
// 		animation: mv01-fadeIn 2s 0.5s var(--easing) forwards;
// 		width: 30%;
// 		transform: translateX(-50%) translateY(-50%);
// 	}
// 	@media #{$tab} {
// 		.text-mv{
// 			width: 60%;
// 		}
// 	}
// }
// @keyframes mv01-fadeIn {
// 	0% {
// 		transform: scale(1.5) translateY(-50%) translateX(-50%);
// 		opacity: 0;
// 		filter: blur(300px);
// 	}
// 	100% {
// 		transform: scale(1) translateY(-50%) translateX(-50%);
// 		opacity: 1;
// 		filter: blur(0);
// 	}
// }
// @keyframes blur-delay {
// 	0%{
// 		filter: blur(0) opacity(100%);
// 	}
// 	100%{
// 		filter: blur(3px) opacity(50%);
// 	}
// }
.box-mv-recruit{
	position: relative;
	overflow: hidden;
	z-index: 0;
	height: 100vh;
	&:before{
		content: '';
		@media #{$pc} {
			background: url(/img/w3000xh1500-recruit-mv-min.jpg) 50% 50%;
			background: url(/img/w3000xh1500-recruit-mv-min.webp) 50% 50%;
			background-size: cover;
		}
		@media #{$tab} {
			background: url(/img/w1560xh1560-recruit-mv-min.jpg) 90% 50%;
			background: url(/img/w1560xh1560-recruit-mv-min.webp) 90% 50%;
			background-size: cover;
		}
		@media #{$sp} {
			background: url(/img/w750xh1200-recruit-mv-min.jpg) 50% 50%;
			background: url(/img/w750xh1200-recruit-mv-min.webp) 50% 50%;
			background-size: cover;
		}
		position: absolute;
		top: 0;
		left: 0;
		
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}
.text-mv-recruit{
	position: absolute;
	top: 50%;
	left: 10vw;
	transform: translateY(-50%);
	animation: fadeIn 2s 0.5s var(--easing) forwards;
	opacity: 0;
	@media #{$sp} {
		-ms-writing-mode: tb-rl;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		white-space: nowrap;
		top: 50%;
		left: 10%;
		transform: translateY(-50%) translateX(-10%);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		filter: blur(300px);
	}
	100% {
		opacity: 1;
		filter: blur(0);
	}
}
// .svg-circle {
// 	transform: rotate(-90deg);
// 	width: 100%;
// 	height: 100%;
// 	@media #{$sp} {
// 		width: 60%;
// 	}
// 	circle {
// 		fill: transparent;
// 		&.dashed{
// 			stroke-width: 1;
// 			stroke: darken($gray-light, 30%);
// 			stroke-dasharray: 3 3;
// 		}
// 		&.is-active{
// 			stroke-dasharray: 1205;
// 			stroke-width: 3;
// 			stroke-dasharray: 1205;
// 			stroke-dashoffset: 0;
// 			stroke: $bg-gray;
// 			animation: circle 2s forwards;
// 		}
// 	}
// }

// @keyframes circle {
// 	to {
// 		stroke-dashoffset: 1205
// 	}
// }
.li-service{
	>li{
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3){
			width: 32%;
			margin-right: 2%;
		}
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),{
			margin-right: 2%;
			width: 23.5%;
		}
		&:nth-child(3),
		&:nth-child(7),
		&:nth-child(11){
			margin-right: 0;
		}
		
		
		@media #{$sp} {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9),
			&:nth-child(10),
			&:nth-child(11){
				width: 100%;
				margin-right: 0;
			}
		}
		margin-bottom: 3vw;
		img{
			// width: 70%;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
.right-out{
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(0%) translateX(5%);
	z-index: 0;
	width: 45%;
	figure{
		margin-top: 2vw;
		margin-right: 2vw;
	}
	@media #{$sp} {
		position: relative;
		width: 100%;
		left: 0;
		transform: translateY(0%) translateX(0%);
		figure{
			margin-top: 0;
			margin-right: 0;
		}
	}
}
// .left-out{
// 	overflow: hidden;
// 	position: absolute;
// 	top: 0;
// 	left: 2vw;
// 	transform: translateY(0%) translateX(-5%);
// 	z-index: 0;
// 	width: 50%;
// 	figure{
// 		margin-top: 2vw;
// 		margin-left: 2vw;
// 	}
// 	@media #{$sp} {
// 		position: relative;
// 		width: 100%;
// 		left: 0;
// 		transform: translateY(0%) translateX(0%);
// 	}
// }
.left-content{
	z-index: 2;
	position: relative;
	width: unquote("min(1200px, 95%)");
	margin-right: auto;
	margin-left: auto;
	@media #{$tab} {
		width: calc(100% - 12vw);
		margin-right: 10vw;
		margin-left: 6vw;
	}
}
// .right-content{
// 	margin-right: 10vw;
// 	z-index: 2;
// 	position: relative;
// 	@media #{$tab} {
// 		margin-left: 10vw;
// 	}
// }
.bg-grad{
	background: linear-gradient(white 65%, lighten($main-color, 30%) 99.9%, $main-color);

}
.bg-matsuri{
	position: relative;
	overflow: hidden;
	z-index: 0;
	&::before{
		content: '';
		@media #{$pc} {
			background: url(/img/w500xh1000-matsuri1.svg) no-repeat 50% 0;
		}
		@media #{$tab} {
			background: url(/img/w500xh1000-matsuri1.svg) no-repeat 50% 0;
		}
		@media #{$sp} {
			background: url(/img/w500xh1000-matsuri1-sp.svg) no-repeat 50% 0;
		}
		position: absolute;
		top: 0;
		// bottom: 0;
		left: 70vw;
		right: -70vw;
		background-size: contain;
		z-index: -1;
		height: 100vh;
	}
	&::after{
		content: '';
		@media #{$pc} {
			background: url(/img/w500xh1000-matsuri2.svg) no-repeat 50% 0;
		}
		@media #{$tab} {
			background: url(/img/w500xh1000-matsuri2.svg) no-repeat 50% 0;
		}
		@media #{$sp} {
			background: url(/img/w500xh1000-matsuri2-sp.svg) no-repeat 50% 0;
		}
		position: absolute;
		top: 0;
		// bottom: 0;
		left: -70vw;
		right: 70vw;
		background-size: contain;
		z-index: -1;
		height: 100vh;
	}
	@media #{$sp} {
		&::after,
		&::before{
			background-position: 50% 0%;
			// height: 50vh;
			background-size: auto;
		}
		
	}
	&.is-active{
		&::before{
			animation: slideInRight 1.5s ease-in-out .2s forwards;
		}
		&::after{
			animation: slideInLeft 1.5s ease-in-out .2s forwards;
		}
	}
}
@keyframes slideInRight {
	0% {right: -100vw;}
	100% {right: 0;}
}
@keyframes slideInLeft {
	0% {left: -100vw;}
	100% {left: 0;}
}
.bg-recruit{
	position: relative;
	overflow: hidden;
	z-index: 0;
	// height: 100vh;
	border-bottom: 5px solid white;
	&::before{
		content: '';
		background: url(/img/w3000xh1500-recruit-min.jpg) no-repeat 50% 50%;
		position: absolute;
		top: -5px;
		bottom: -5px;
		left: -5px;
		right: -5px;
		background-size: cover;
		background-attachment: fixed;
		z-index: -1;
	}
	@media #{$sp} {
		&::before{
			background-attachment: scroll;
		}
	}
	// &.is-active{
	// 	&::before{
	// 		animation: blur-delay 1.5s ease-in 1s forwards;
	// 	}
	// }
}
.bg-contact{
	background: $main-color;
	background:linear-gradient(-45deg, $main-color, lighten($main-color, 20%),$main-color);
	background-size: 200% 200%;
	animation: bggradient 20s ease infinite;

	padding-top: 10vw;
	padding-bottom: 10vw;
}
@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.box-contact{
	max-width: unquote("min(800px,90%)");
	border-radius: 3vw;
}
.ttl-accent{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: -7px;
		width: 50px;
		height: 3px;
		background: $main-color;
	}
}



.font-noto-serif{font-family: "Noto Serif JP", serif;}
.font-noto-sans{font-family: "Noto Sans JP", sans-serif;}